/*
*   Universal Selector for selecting all the elements in the page
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 16px; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 3rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: 1.5rem; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    font-style: italic;
    line-height: 1.5;
    letter-spacing: 0.5rem; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  /*
    *   Text Color
    */
  display: inline-block;
  background-image: linear-gradient(to right, rgba(135, 227, 255, 0.8), rgba(0, 74, 136, 0.8));
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.header {
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(135, 227, 255, 0.8), rgba(0, 74, 136, 0.8)), url(../img/background.jpg);
  background-size: cover;
  background-position: top;
  position: relative; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row .col {
    width: 100%; }

.section-about {
  background-color: #fff;
  padding: 10rem 0; }
  .section-about hr {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin: 1em 0;
    width: 25%; }
