/*
*   600 px          Phone
*   600 - 900 px    Tablet Portrait
*   900 - 1200 px   Tablet Landscape
*   1200 - 1800 px  Normal Screen
*   1800+ px        Big Screens
*   1em - 16px
*/
/*
*   Universal Selector for selecting all the elements in the page
*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
}

@media (min-width: 112.5em) {
  body {
    padding: 3.5rem;
  }
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-medium {
  margin-bottom: 5rem !important;
}

.u-margin-bottom-small {
  margin-bottom: 3rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

.u-width-medium {
  width: 3.5% !important;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  margin-bottom: 3rem;
}

.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 1.5rem;
}

@media (max-width: 37.5em) {
  .heading-primary--main {
    letter-spacing: 0.5rem;
    font-size: 5rem;
  }
}

.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  font-style: italic;
  line-height: 1.5;
  letter-spacing: 0.5rem;
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  /*
    *   Text Color
    */
  display: inline-block;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 74, 136, 0.8)), to(rgba(0, 74, 136, 0.8)));
  background-image: linear-gradient(to right, rgba(0, 74, 136, 0.8), rgba(0, 74, 136, 0.8));
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
}

@media (max-width: 56.25em) {
  .heading-secondary {
    font-size: 3rem;
  }
}

@media (max-width: 37.5em) {
  .heading-secondary {
    font-size: 2.5rem;
  }
}

.paragraph {
  font-size: 1.6rem;
  color: #777;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  text-rendering: optimizelegibility !important;
  letter-spacing: .03em;
  line-height: 2.5rem;
  text-align: center;
}

.paragraph:not(:last-child) {
  margin-bottom: .7rem;
}

.swiper-slide {
  text-align: center;
  background: #fff;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  position: relative;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
}

.swiper-slide__picture {
  background-size: cover;
  height: 30%;
  width: 100%;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  position: absolute;
  top: 0;
}

.swiper-slide__picture--0 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#87E3FF), to(#004A88)), url(../../img/projects/forkify-project.JPG);
  background-image: linear-gradient(to right bottom, #87E3FF, #004A88), url(../../img/projects/forkify-project.JPG);
}

.swiper-slide__picture--1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#87E3FF), to(#004A88)), url(../../img/projects/dw-project.png);
  background-image: linear-gradient(to right bottom, #87E3FF, #004A88), url(../../img/projects/dw-project.png);
}

.swiper-slide__picture--2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#87E3FF), to(#004A88)), url(../../img/projects/b-project.png);
  background-image: linear-gradient(to right bottom, #87E3FF, #004A88), url(../../img/projects/b-project.png);
}

.swiper-slide__picture--3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#87E3FF), to(#004A88)), url(../../img/projects/dice-project.png);
  background-image: linear-gradient(to right bottom, #87E3FF, #004A88), url(../../img/projects/dice-project.png);
}

.swiper-slide__picture--4 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#87E3FF), to(#004A88)), url(../../img/projects/java-project.JPG);
  background-image: linear-gradient(to right bottom, #87E3FF, #004A88), url(../../img/projects/java-project.JPG);
}

.swiper-slide__picture--5 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#87E3FF), to(#004A88)), url(../../img/projects/foxes-project.png);
  background-image: linear-gradient(to right bottom, #87E3FF, #004A88), url(../../img/projects/foxes-project.png);
}

.swiper-slide__heading {
  font-size: 2rem;
  font-weight: 300;
  text-align: right;
  color: #fff;
  top: 12rem;
  right: 2rem;
  position: absolute;
  width: 75%;
}

.swiper-slide__heading--span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#87E3FF), to(#004A88));
  background-image: linear-gradient(to right bottom, #87E3FF, #004A88);
}

.swiper-slide__details {
  width: 70%;
}

.swiper-slide__details ul {
  list-style: none;
  width: 100%;
  margin: 0 auto;
}

.swiper-slide__details ul li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}

.swiper-slide__details ul li:first-child {
  margin-top: 5rem;
}

.swiper-slide__details ul li:not(:last-child) {
  border-bottom: 2px solid #eee;
}

.swiper-slide__back {
  -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
  background-image: -webkit-gradient(linear, left top, right bottom, from(#87E3FF), to(#004A88));
  background-image: linear-gradient(to right bottom, #87E3FF, #004A88);
  height: 20%;
  width: 100%;
  bottom: 0;
  position: absolute;
}

.swiper-slide__back--btn {
  margin-top: 3rem;
}

/*
* Link PseudoClass for stylink elements under special condition
*/
.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  -webkit-transition: all .2s;
  transition: all .2s;
  -webkit-animation: moveInBottom .5s ease-out .25s;
          animation: moveInBottom .5s ease-out .25s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  border: none;
  cursor: pointer;
}

.btn:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active, .btn:focus {
  outline: none;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn--white {
  background-color: #fff;
  color: #777;
}

.btn--blue {
  background-color: #217dbb;
  color: #fff;
}

@media (max-width: 56.25em) {
  .btn--blue {
    display: block;
    margin: 0 auto;
  }
}

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #217dbb;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #217dbb;
  padding: 3px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.btn-text:hover {
  background-color: #217dbb;
  color: #fff;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.btn-text:active {
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.skills-block .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skills-block .row [class^="col-"], .skills-block .row .col {
  padding: 1rem;
  color: #fff;
  background-color: #217dbb;
  margin: 5px;
  border-radius: 5px;
  border: 0.5px solid #fff;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

@media (max-width: 56.25em) {
  .skills-block .row [class^="col-"], .skills-block .row .col {
    margin: 2.5px;
  }
}

.skills-block .row [class^="col-"]:hover, .skills-block .row .col:hover {
  background-color: #fff;
  color: #217dbb;
  border: 0.5px solid #217dbb;
}

.skills-block .row [class^="col-"] .skill, .skills-block .row .col .skill {
  font-size: 16px;
}

@media (max-width: 56.25em) {
  .skills-block .row [class^="col-"] .skill, .skills-block .row .col .skill {
    font-size: 12px;
  }
}

i {
  margin-left: 5px;
}

.form__group:not(:last-child) {
  margin-bottom: 2rem;
}

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.25);
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media (max-width: 56.25em) {
  .form__input {
    width: 100%;
  }
}

@media (max-width: 37.5em) {
  .form__input {
    width: 100%;
  }
}

.form__input:focus {
  outline: none;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #217dbb;
}

.form__input:focus:invalid {
  border-bottom: 3px solid #004A88;
}

.form__input::-webkit-input-placeholder {
  color: #999;
}

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
          transform: translateY(-4rem);
}

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/form-bg.jpg);
  background-size: 100%;
  border-radius: 3px;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

@media (max-width: 75em) {
  .book {
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 65%, transparent 65%), url(../img/form-bg.jpg);
    background-size: cover;
  }
}

@media (max-width: 56.25em) {
  .book {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.9)), to(rgba(255, 255, 255, 0.9))), url(../img/form-bg.jpg);
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%), url(../img/form-bg.jpg);
  }
}

.book__form {
  width: 50%;
  padding: 6rem;
}

@media (max-width: 75em) {
  .book__form {
    width: 75%;
  }
}

@media (max-width: 56.25em) {
  .book__form {
    width: 100%;
  }
}

.header {
  height: 100vh;
  background-size: cover;
  background-position: top;
  position: relative;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(135, 227, 255, 0.75)), to(rgba(0, 74, 136, 0.75)));
  background: linear-gradient(to right bottom, rgba(135, 227, 255, 0.75), rgba(0, 74, 136, 0.75));
}

.header .bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden;
}

.header .bg-video__content {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header__text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.header__scroll-down-icon {
  text-align: center;
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: 0px;
  -webkit-animation: MoveUpDown 1.5s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
          animation: MoveUpDown 1.5s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
}

@-webkit-keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 15px;
  }
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 15px;
  }
}

.scroll-down-icon {
  width: 5%;
}

@media (max-width: 37.5em) {
  .scroll-down-icon {
    width: 15%;
  }
}

.resume-button {
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

@media (max-width: 37.5em) {
  .resume-button {
    top: 75%;
  }
}

.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem;
  position: relative;
}

.footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: center;
          flex-direction: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 56.25em) {
  .footer .social {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: -8rem;
    margin-bottom: 8rem;
  }
}

.footer .social i {
  border: 2px solid #fff;
  border-radius: 30%;
  font-size: 1.6rem;
  height: 3.75rem;
  margin: .35rem;
  padding: .95rem;
  color: #217dbb;
  background-color: #fff;
  width: 3.75rem;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.footer .social i:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.footer .logo {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-20%, -25%);
          transform: translate(-20%, -25%);
  position: absolute;
}

@media (max-width: 56.25em) {
  .footer .logo {
    -webkit-transform: translate(-15%, -25%);
            transform: translate(-15%, -25%);
  }
}

.footer .logo img {
  width: 35%;
}

@media (max-width: 56.25em) {
  .footer .logo img {
    width: 30%;
  }
}

.footer .logo img:hover {
  animation-name: swing;
  -webkit-animation-name: swing;
}

.footer__copyright {
  border-top: 1px solid #777;
  color: #fff;
  font-size: large;
  padding-top: 2rem;
  position: absolute;
  right: 7.5%;
}

@media (max-width: 56.25em) {
  .footer__copyright {
    width: 100%;
    float: none;
    text-align: center;
    border-top: none;
    right: 0%;
  }
}

.footer__copyright:hover {
  animation-name: pulse;
  -webkit-animation-name: pulse;
}

.navigation__checkbox {
  display: none;
}

.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 3rem;
  right: 3rem;
  z-index: 2000;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}

@media (max-width: 56.25em) {
  .navigation__button {
    top: 2rem;
    right: 2rem;
  }
}

@media (max-width: 37.5em) {
  .navigation__button {
    top: 1rem;
    right: 1rem;
  }
}

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 3.5rem;
  right: 3.5rem;
  background-image: radial-gradient(#87E3FF, #004A88);
  z-index: 1000;
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  transition: -webkit-transform 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 0.6s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition: transform 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

@media (max-width: 56.25em) {
  .navigation__background {
    top: 2.5rem;
    right: 2.5rem;
  }
}

@media (max-width: 37.5em) {
  .navigation__background {
    top: 1.5rem;
    right: 1.5rem;
  }
}

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100rem;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all .6s;
  -webkit-transition: all .6s;
}

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}

.navigation__item {
  margin: 1rem;
}

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(115deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 230%;
  transition: all .4s;
  -webkit-transition: all .4s;
}

.navigation__link:hover {
  background-position: 100%;
  color: #217dbb;
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
}

.navigation__checkbox:checked ~ .navigation__background {
  -webkit-transform: scale(80);
          transform: scale(80);
}

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
  left: 0;
}

.navigation__icon {
  position: relative;
  margin-top: 3.5rem;
}

.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 3rem;
  height: 2px;
  background-color: #333;
  display: inline-block;
}

.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all .2s;
  -webkit-transition: all .2s;
}

.navigation__icon::before {
  top: -.8rem;
}

.navigation__icon::after {
  top: .8rem;
}

.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}

.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}

@media (max-width: 56.25em) {
  .row {
    max-width: 50rem;
    padding: 0 3rem;
  }
}

.row .col {
  width: 100%;
}

.row [class^="col-"] {
  float: left;
}

@media (max-width: 56.25em) {
  .row [class^="col-"] {
    width: 100% !important;
  }
}

.row .col-1-of-2 {
  width: calc((100% - 1rem) / 2);
}

.row .col-1-of-3 {
  width: calc((100% - 2 * 1rem) / 3);
}

.row .col-1-of-4 {
  width: calc((100% - 3 * 1rem) / 4);
}

.section {
  padding: 10rem 0;
}

@media (max-width: 56.25em) {
  .section {
    padding: 5rem 0;
  }
}

.section-about {
  background-color: #f7f7f7;
}

.section-about__hr {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin: 1em 0;
  width: 25%;
}

.section-projects {
  background-color: #fff;
}

.section-skills {
  background-color: #f7f7f7;
}

.section-contact {
  background-color: #fff;
}
/*# sourceMappingURL=main.css.map */