.header {
    height: 100vh; // Fill Header for head page!!!
    // Linear Gradient for adding colors to the background image
    background-size: cover;
    background-position: top;
    position: relative; 
    background: linear-gradient(
        to right bottom, 
        rgba($color-primary-light, 0.75),
        rgba($color-primary-dark, 0.75));

    @include respond(phone) {
        height: 92.5vh;
    }

    .bg-video {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;        
        overflow: hidden;
    
        &__content {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    &__text-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); // Now they're related to the parent element
        text-align: center;
    }

    &__scroll-down-icon {
        text-align: center;
        color: #fff;
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        bottom: 0px;
        animation: MoveUpDown 1.5s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
        
        @keyframes MoveUpDown {
            0%, 100% {
              bottom: 0;
            }
            50% {
              bottom: 15px;
            }
        }
    }
}
.scroll-down-icon {
    width: 5%; // Icon Width

    @include respond(phone) {
       width: 15%;
    }
}