.skills-block {
    .row {
        display: flex;

        [class^="col-"], .col {
            padding: 1rem;
            color: $color-white;
            background-color: $color-primary;
            margin: 5px;
            border-radius: 5px;

            i {
                margin-left: 5px;
            }

            &:hover{
                background-color: $color-white;
                color: $color-primary;

            }
        }

    }
}