.skills-block {
    .row {
        display: flex;

        [class^="col-"], .col {
            padding: 1rem;
            color: $color-white;
            background-color: $color-primary;
            margin: 5px;
            border-radius: 5px;
            border: 0.5px solid $color-white;
            
            @include respond(tab-port) {
                margin: 2.5px;
            }

            &:hover{
                background-color: $color-white;
                color: $color-primary;
                border: 0.5px solid $color-primary;
            }

            .skill {
                font-size: 16px;
                @include respond(tab-port) {
                    font-size: 12px;
                }
            }
        }

    }
}
i {
    margin-left: 5px;
}