.skills-block {
    align-items: center;
    display: grid;
    grid-gap: 2px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    padding: 3rem 3rem;

    p {
        background-color: $color-primary;
        border: 1px solid $color-primary;
        border-radius: 3px;
        color: #fff;
        font-weight: 600;
        padding: .5em;
        transition: background-color .5s, color .5s;

        i {
            margin-left: 5px;
        }
    }
}